*{
    min-height: 80%;
    padding: 2px;
    border-radius: 0px;
    margin: 2px;
    background-color: #70a0a4;
}
.Korpusas{
border-radius: 30px;
background: #70a0a4;
box-shadow:  10px 10px 12px #507274, 
             -10px -10px 12px #90ced4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50vw;

}
.skaiciai{
    display: inline-block;
    width: 70%;
    height: 70%;
    overflow: hidden;
    text-align: center;
    
}
.ekranas{
    background-color: rgba(0, 0, 0, .0);
    height: auto;
    margin-bottom: 50px;
}
/*.ekranas{
    height: 30vh;
    margin: auto;
    width: 90%;
    display: flex;
    margin-top: 10px;
    border-radius: 25px;
    
}*/
.fun, .skc{
    margin-top: 2%;
    border: none;
    margin-right: 2%;
    margin-left: 2%;
    width: 20%;
    height: 9vh;
    font-weight: bold;
    padding: 3px;
    font-size: 150%;
border-radius: 15px;
    background: linear-gradient(145deg, #78abaf, #659094);
box-shadow:  -2px 2px 9px #507274, 
             2px -2px 9px #90ced4;
}
.fun:hover, .skc:hover, .veiks:hover{
    color: aqua;
    background: linear-gradient(145deg, #659094, #78abaf);
    
}
.rezultatas{
    height: 150px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 40px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 15px;
background: linear-gradient(225deg, #78abaf, #659094);
box-shadow:  -3px 3px 6px #4c6d70, 
             3px -3px 6px #94d3d8;
}
.rezultatas .senasrez{
    margin: auto;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, .55);
    background-color: rgba(0, 0, 0, .0);
}
.rezultatas .dabarrez{
    margin-top: -3%;
    color: black;
    font-size: 6rem;
    border: none;
    background-color: rgba(0, 0, 0, .0);
}
/*.rezultatas{
    border-radius: 15px;
background: linear-gradient(225deg, #78abaf, #659094);
box-shadow:  -3px 3px 6px #4c6d70, 
             3px -3px 6px #94d3d8;
    margin: auto;
    width: 95%;
    vertical-align: middle;
    background-color: #a8b7a4;
    height: 80%;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    text-align-last: right;
    font-size: 350%;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}*/
.veiksmai{
    display: inline-block;
    height: 30%;
    width: 30%;
    overflow: hidden;
    text-align: center;
}
.klaviatura{
    display: flex;
    background-color: rgba(0, 0, 0, .0);
}
.veiks{
    margin-top: 2%;
    border: none;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
    width: 20%;
    height: 13vh;
    font-weight: normal;
    padding: 3px;
    font-size: 150%;
    border-radius: 15px;
background: linear-gradient(145deg, #78abaf, #659094);
box-shadow:  -2px 2px 9px #507274, 
             2px -2px 9px #90ced4;
}
/*.veiks{
    margin-top: 2%;
    border: none;
    margin-right: 2%;
    margin-left: 2%;
    width: 20%;
    height: 9vh;
    padding: 20px;
    margin-bottom: 1px;
    text-align: center;
    border: none;
    font-size: 135%;
    font-size: 150%;
    border-radius: 10px;
background: linear-gradient(145deg, white, #cdc4bb);
box-shadow:  2px 2px 0px #948e87, 
             -2px -2px 0px #ffffff;
}*/
@media (orientation: landscape) {
    .Korpusas{
        width: 90%;
        height: 100%;
    }
    
}
@media (orientation: portrait){
    .veiksmai{
        display: none;
    }
    .skaiciai{
        width: 100%;
        
    }
    .veiks{
        display: none;
    }
    .Korpusas{
        width: 90%;
        height: 100%;
    }
}
