
body {
    list-style-type: none;
 /*background: rgb(34,195,150);
background: -moz-linear-gradient(0deg, rgba(34,195,150,1) 0%, rgba(45,115,253,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(34,195,150,1) 10%, rgba(45,115,253,1) 100%);
*/
/*   background: #010970;
background: -webkit-linear-gradient(right, #010970, #6189D2);
background: -moz-linear-gradient(right, #010970, #6189D2);
background: linear-gradient(to left, #010970, #6189D2);
*/
    background-image: url(foto/body.png);
    background-color:crimson;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position:top;
    transition-duration: 1s;
}
*{
    transition-duration: 1s;
    
}
.info{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
    margin-right: 2%;
    margin-left: 2%;
    width: 10vw;
    height: 5vh;
    margin-top: 8%;
    position: static;
    padding: 1em;
    text-align: center;
    text-overflow:inherit;
}
/*.rezultatai{
    margin-left: 15%;
    justify-content: center;
    padding:1px;
}*/
.kita{
    padding: 10px;
}
#taisykles span{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            transition-delay: 1s;
            display: none;
            position: absolute;
            bottom: 110%;
            left: auto;
            right: auto;
            width: 12vw;
            height: auto;
            background-color: rgba(0,0,0,0.15);
            padding: 5px 0;
            border-radius: 10px;
}
#taisykles span:hover{
    display: block;
    display: one;
            color: black;
    transition-delay: 1s;
}
h1{
    position:;
    margin-bottom: 10px;
    margin-left:-100px;
    margin-top: -10px;
    text-align: center;
}
.zaidejai{
    display: block;
    text-align: center;
    padding: 1px;
}
/*.alio img{
    margin-top: 4vh;
        margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
    padding: 30px;
}*/
.pagrindinis{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur(4px);
border-radius: 10px;
    margin-bottom: 30%;
    width: 90vw;
    height: 50vh;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.taskai{
    display: non;
}
.rezultatai li{
    margin-top: 10vh;
        margin-left: 0%;
    margin-right: 0%;
    height: 6vh;
    width: 4vw;
    justify-content: center;
    position: static;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
    padding: 30px;
    text-align: center;
    text-align-last: center;
    text-transform: capitalize;
}
.skaicius{
     border-radius: 10px;
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 4px );
    padding: 10px;
    margin-top: 3%;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    right: 40%;
    display: flex;
    
}
#{
    transition: all 1s;
        transition-duration: 1s;
    }
#parinktys {
            position: absolute;
            bottom: 0;
            text-align: center;
    left: 0;
    right: 0;
            margin-right: auto;
    margin-left: auto;
            width: 55%;
            background: rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            border-radius: 10px 10px 0 0;
    transition: all 0.2s;
        }
#parinktys ul {
            list-style-type: none;
            display: inline-block;
    transition: all 0.2s;
            position:static;
    margin-left: -%;
        }
#parinktys ul img {
    
            padding: 10px;
            margin-left: auto;
          width: 64px;
          height: 64px;
          -webkit-box-reflect: below -19px
                    -webkit-gradient(linear, left top, left bottom, from(transparent),
                    color-stop(0.5, transparent), to(rgba(255,255,255,.5)));
          -webkit-transition: all 0.2s;
          -webkit-transform-origin: 50% 100%;
        }
#parinktys ul:hover img { 
          -webkit-transform: scale(1.5);
        -webkit-transition: all 0.5s;
          margin: 0 1em;
        }
        #parinktys ul:hover + ul img,
        #parinktys ul.prev img {
          -webkit-transform: scale(1);
          margin: 0 1em;
        }
#parinktys ul span {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            transition-delay: 1s;
            display: none;
            position: absolute;
            bottom: 110%;
            left: auto;
            right: auto;
            width: 12vw;
            height: auto;
            background-color: rgba(0,0,0,0.15);
            padding: 5px 0;
            border-radius: 10px;
        }
#parinktys ul:hover span {
            display: block;
            color: white;
    transition-delay: 1s;
}
@media (orientation: portrait){
    body{
        background-size: auto;
        background-position: center;
        transition: all 1.2s;
    }
    *{
        transition-duration: 1s;
    }
    .pagrindinis{
        height: auto;
        transition-duration: 1s;
    }
    .info{
        height: 5vh;
        overflow:scroll;
    }
    .rezultatai li{
        width: 10vw;
    }
    .skaicius{
        width: 28vw;
    }
    
}